# ValidationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**valid** | **Boolean** |  |  [optional]
**errorMessage** | **String** |  |  [optional]
