/*
 * CD NextGen API Reference
 * This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * OpenAPI spec version: 3.0
 * Contact: contact@harness.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.Failure;
import io.swagger.client.model.ResponseDTOBoolean;
import io.swagger.client.model.ResponseDTOGitBranchList;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GitBranchesApi {
    private ApiClient apiClient;

    public GitBranchesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GitBranchesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getListOfBranchesWithStatus
     * @param yamlGitConfigIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param page Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param size The number of the elements to fetch (optional)
     * @param searchTerm Search Term (optional)
     * @param branchSyncStatus Used to filter out Synced and Unsynced branches (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getListOfBranchesWithStatusCall(String yamlGitConfigIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, Integer page, Integer size, String searchTerm, String branchSyncStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ng/api/git-sync-branch/listBranchesWithStatus";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (yamlGitConfigIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("yamlGitConfigIdentifier", yamlGitConfigIdentifier));
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (size != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
        if (searchTerm != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));
        if (branchSyncStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("branchSyncStatus", branchSyncStatus));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/yaml", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getListOfBranchesWithStatusValidateBeforeCall(String yamlGitConfigIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, Integer page, Integer size, String searchTerm, String branchSyncStatus, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'yamlGitConfigIdentifier' is set
        if (yamlGitConfigIdentifier == null) {
            throw new ApiException("Missing the required parameter 'yamlGitConfigIdentifier' when calling getListOfBranchesWithStatus(Async)");
        }
        
        com.squareup.okhttp.Call call = getListOfBranchesWithStatusCall(yamlGitConfigIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, page, size, searchTerm, branchSyncStatus, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Lists branches with their status(Synced, Unsynced) by Git Sync Config Id for the given scope
     * 
     * @param yamlGitConfigIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param page Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param size The number of the elements to fetch (optional)
     * @param searchTerm Search Term (optional)
     * @param branchSyncStatus Used to filter out Synced and Unsynced branches (optional)
     * @return ResponseDTOGitBranchList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOGitBranchList getListOfBranchesWithStatus(String yamlGitConfigIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, Integer page, Integer size, String searchTerm, String branchSyncStatus) throws ApiException {
        ApiResponse<ResponseDTOGitBranchList> resp = getListOfBranchesWithStatusWithHttpInfo(yamlGitConfigIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, page, size, searchTerm, branchSyncStatus);
        return resp.getData();
    }

    /**
     * Lists branches with their status(Synced, Unsynced) by Git Sync Config Id for the given scope
     * 
     * @param yamlGitConfigIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param page Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param size The number of the elements to fetch (optional)
     * @param searchTerm Search Term (optional)
     * @param branchSyncStatus Used to filter out Synced and Unsynced branches (optional)
     * @return ApiResponse&lt;ResponseDTOGitBranchList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOGitBranchList> getListOfBranchesWithStatusWithHttpInfo(String yamlGitConfigIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, Integer page, Integer size, String searchTerm, String branchSyncStatus) throws ApiException {
        com.squareup.okhttp.Call call = getListOfBranchesWithStatusValidateBeforeCall(yamlGitConfigIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, page, size, searchTerm, branchSyncStatus, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOGitBranchList>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Lists branches with their status(Synced, Unsynced) by Git Sync Config Id for the given scope (asynchronously)
     * 
     * @param yamlGitConfigIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param page Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param size The number of the elements to fetch (optional)
     * @param searchTerm Search Term (optional)
     * @param branchSyncStatus Used to filter out Synced and Unsynced branches (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getListOfBranchesWithStatusAsync(String yamlGitConfigIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, Integer page, Integer size, String searchTerm, String branchSyncStatus, final ApiCallback<ResponseDTOGitBranchList> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getListOfBranchesWithStatusValidateBeforeCall(yamlGitConfigIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, page, size, searchTerm, branchSyncStatus, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOGitBranchList>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for syncGitBranch
     * @param repoIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param branch Branch Name (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call syncGitBranchCall(String repoIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, String branch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ng/api/git-sync-branch/sync";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (repoIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("repoIdentifier", repoIdentifier));
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (branch != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("branch", branch));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/yaml", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call syncGitBranchValidateBeforeCall(String repoIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, String branch, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'repoIdentifier' is set
        if (repoIdentifier == null) {
            throw new ApiException("Missing the required parameter 'repoIdentifier' when calling syncGitBranch(Async)");
        }
        
        com.squareup.okhttp.Call call = syncGitBranchCall(repoIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, branch, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Sync the content of new Git Branch into harness with Git Sync Config Id
     * 
     * @param repoIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param branch Branch Name (optional)
     * @return ResponseDTOBoolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOBoolean syncGitBranch(String repoIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, String branch) throws ApiException {
        ApiResponse<ResponseDTOBoolean> resp = syncGitBranchWithHttpInfo(repoIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, branch);
        return resp.getData();
    }

    /**
     * Sync the content of new Git Branch into harness with Git Sync Config Id
     * 
     * @param repoIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param branch Branch Name (optional)
     * @return ApiResponse&lt;ResponseDTOBoolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOBoolean> syncGitBranchWithHttpInfo(String repoIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, String branch) throws ApiException {
        com.squareup.okhttp.Call call = syncGitBranchValidateBeforeCall(repoIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, branch, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOBoolean>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Sync the content of new Git Branch into harness with Git Sync Config Id (asynchronously)
     * 
     * @param repoIdentifier Git Sync Config Id (required)
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param branch Branch Name (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call syncGitBranchAsync(String repoIdentifier, String accountIdentifier, String orgIdentifier, String projectIdentifier, String branch, final ApiCallback<ResponseDTOBoolean> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = syncGitBranchValidateBeforeCall(repoIdentifier, accountIdentifier, orgIdentifier, projectIdentifier, branch, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOBoolean>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
