/*
 * CD NextGen API Reference
 * This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * OpenAPI spec version: 3.0
 * Contact: contact@harness.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.Failure;
import io.swagger.client.model.ResponseDTOListPermissionResponse;
import io.swagger.client.model.ResponseDTOSetString;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PermissionsApi {
    private ApiClient apiClient;

    public PermissionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PermissionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getPermissionList
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPermissionListCall(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/authz/api/permissions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (scopeFilterDisabled != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("scopeFilterDisabled", scopeFilterDisabled));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPermissionListValidateBeforeCall(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getPermissionListCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get all permissions in a scope or all permissions in the system.
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @return ResponseDTOListPermissionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOListPermissionResponse getPermissionList(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled) throws ApiException {
        ApiResponse<ResponseDTOListPermissionResponse> resp = getPermissionListWithHttpInfo(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled);
        return resp.getData();
    }

    /**
     * Get all permissions in a scope or all permissions in the system.
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @return ApiResponse&lt;ResponseDTOListPermissionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOListPermissionResponse> getPermissionListWithHttpInfo(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled) throws ApiException {
        com.squareup.okhttp.Call call = getPermissionListValidateBeforeCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOListPermissionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all permissions in a scope or all permissions in the system. (asynchronously)
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPermissionListAsync(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ApiCallback<ResponseDTOListPermissionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPermissionListValidateBeforeCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOListPermissionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPermissionResourceTypesList
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPermissionResourceTypesListCall(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/authz/api/permissions/resourcetypes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (scopeFilterDisabled != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("scopeFilterDisabled", scopeFilterDisabled));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPermissionResourceTypesListValidateBeforeCall(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getPermissionResourceTypesListCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get all resource types for permissions in a scope or in the system.
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @return ResponseDTOSetString
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOSetString getPermissionResourceTypesList(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled) throws ApiException {
        ApiResponse<ResponseDTOSetString> resp = getPermissionResourceTypesListWithHttpInfo(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled);
        return resp.getData();
    }

    /**
     * Get all resource types for permissions in a scope or in the system.
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @return ApiResponse&lt;ResponseDTOSetString&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOSetString> getPermissionResourceTypesListWithHttpInfo(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled) throws ApiException {
        com.squareup.okhttp.Call call = getPermissionResourceTypesListValidateBeforeCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOSetString>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all resource types for permissions in a scope or in the system. (asynchronously)
     * 
     * @param accountIdentifier Account Identifier for the Entity (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param scopeFilterDisabled This is to enable or disable filtering by scope. The default value is false. If the value is true, all the permissions in the system are fetched. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPermissionResourceTypesListAsync(String accountIdentifier, String orgIdentifier, String projectIdentifier, Boolean scopeFilterDisabled, final ApiCallback<ResponseDTOSetString> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPermissionResourceTypesListValidateBeforeCall(accountIdentifier, orgIdentifier, projectIdentifier, scopeFilterDisabled, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOSetString>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
