/*
 * CD NextGen API Reference
 * This is the Open Api Spec 3 for the NextGen Manager. This is under active development. Beware of the breaking change with respect to the generated code stub  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->
 *
 * OpenAPI spec version: 3.0
 * Contact: contact@harness.io
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Error;
import io.swagger.client.model.Failure;
import io.swagger.client.model.ResponseDTOBoolean;
import io.swagger.client.model.ResponseDTOPageResponseTokenAggregate;
import io.swagger.client.model.ResponseDTOString;
import io.swagger.client.model.ResponseDTOToken;
import io.swagger.client.model.SortOrder;
import io.swagger.client.model.Token;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TokenApi {
    private ApiClient apiClient;

    public TokenApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TokenApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createToken
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createTokenCall(Token body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/ng/api/token";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createTokenValidateBeforeCall(Token body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createTokenCall(body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Creates a Token
     * 
     * @param body  (optional)
     * @return ResponseDTOString
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOString createToken(Token body) throws ApiException {
        ApiResponse<ResponseDTOString> resp = createTokenWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Creates a Token
     * 
     * @param body  (optional)
     * @return ApiResponse&lt;ResponseDTOString&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOString> createTokenWithHttpInfo(Token body) throws ApiException {
        com.squareup.okhttp.Call call = createTokenValidateBeforeCall(body, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOString>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Creates a Token (asynchronously)
     * 
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createTokenAsync(Token body, final ApiCallback<ResponseDTOString> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createTokenValidateBeforeCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOString>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteToken
     * @param identifier Token ID (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteTokenCall(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ng/api/token/{identifier}"
            .replaceAll("\\{" + "identifier" + "\\}", apiClient.escapeString(identifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (apiKeyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyType", apiKeyType));
        if (parentIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("parentIdentifier", parentIdentifier));
        if (apiKeyIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyIdentifier", apiKeyIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteTokenValidateBeforeCall(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'identifier' is set
        if (identifier == null) {
            throw new ApiException("Missing the required parameter 'identifier' when calling deleteToken(Async)");
        }
        // verify the required parameter 'accountIdentifier' is set
        if (accountIdentifier == null) {
            throw new ApiException("Missing the required parameter 'accountIdentifier' when calling deleteToken(Async)");
        }
        // verify the required parameter 'apiKeyType' is set
        if (apiKeyType == null) {
            throw new ApiException("Missing the required parameter 'apiKeyType' when calling deleteToken(Async)");
        }
        // verify the required parameter 'parentIdentifier' is set
        if (parentIdentifier == null) {
            throw new ApiException("Missing the required parameter 'parentIdentifier' when calling deleteToken(Async)");
        }
        // verify the required parameter 'apiKeyIdentifier' is set
        if (apiKeyIdentifier == null) {
            throw new ApiException("Missing the required parameter 'apiKeyIdentifier' when calling deleteToken(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteTokenCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Deletes a Token by ID
     * 
     * @param identifier Token ID (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @return ResponseDTOBoolean
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOBoolean deleteToken(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier) throws ApiException {
        ApiResponse<ResponseDTOBoolean> resp = deleteTokenWithHttpInfo(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier);
        return resp.getData();
    }

    /**
     * Deletes a Token by ID
     * 
     * @param identifier Token ID (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @return ApiResponse&lt;ResponseDTOBoolean&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOBoolean> deleteTokenWithHttpInfo(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier) throws ApiException {
        com.squareup.okhttp.Call call = deleteTokenValidateBeforeCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOBoolean>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Deletes a Token by ID (asynchronously)
     * 
     * @param identifier Token ID (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteTokenAsync(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, final ApiCallback<ResponseDTOBoolean> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteTokenValidateBeforeCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOBoolean>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listAggregatedTokens
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param identifiers This is the list of Token IDs. Details specific to these IDs would be fetched. (optional)
     * @param pageIndex Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param pageSize The number of the elements to fetch (optional, default to 50)
     * @param sortOrders Sort criteria for the elements. (optional)
     * @param searchTerm This would be used to filter Tokens. Any Token having the specified string in its Name, ID and Tag would be filtered. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listAggregatedTokensCall(String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, List<String> identifiers, Integer pageIndex, Integer pageSize, List<SortOrder> sortOrders, String searchTerm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ng/api/token/aggregate";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (apiKeyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyType", apiKeyType));
        if (parentIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("parentIdentifier", parentIdentifier));
        if (apiKeyIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyIdentifier", apiKeyIdentifier));
        if (identifiers != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "identifiers", identifiers));
        if (pageIndex != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageIndex", pageIndex));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pageSize", pageSize));
        if (sortOrders != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "sortOrders", sortOrders));
        if (searchTerm != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("searchTerm", searchTerm));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAggregatedTokensValidateBeforeCall(String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, List<String> identifiers, Integer pageIndex, Integer pageSize, List<SortOrder> sortOrders, String searchTerm, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'accountIdentifier' is set
        if (accountIdentifier == null) {
            throw new ApiException("Missing the required parameter 'accountIdentifier' when calling listAggregatedTokens(Async)");
        }
        // verify the required parameter 'apiKeyType' is set
        if (apiKeyType == null) {
            throw new ApiException("Missing the required parameter 'apiKeyType' when calling listAggregatedTokens(Async)");
        }
        // verify the required parameter 'parentIdentifier' is set
        if (parentIdentifier == null) {
            throw new ApiException("Missing the required parameter 'parentIdentifier' when calling listAggregatedTokens(Async)");
        }
        // verify the required parameter 'apiKeyIdentifier' is set
        if (apiKeyIdentifier == null) {
            throw new ApiException("Missing the required parameter 'apiKeyIdentifier' when calling listAggregatedTokens(Async)");
        }
        
        com.squareup.okhttp.Call call = listAggregatedTokensCall(accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, identifiers, pageIndex, pageSize, sortOrders, searchTerm, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Fetches the list of Aggregated Tokens corresponding to the request&#x27;s filter criteria.
     * 
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param identifiers This is the list of Token IDs. Details specific to these IDs would be fetched. (optional)
     * @param pageIndex Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param pageSize The number of the elements to fetch (optional, default to 50)
     * @param sortOrders Sort criteria for the elements. (optional)
     * @param searchTerm This would be used to filter Tokens. Any Token having the specified string in its Name, ID and Tag would be filtered. (optional)
     * @return ResponseDTOPageResponseTokenAggregate
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOPageResponseTokenAggregate listAggregatedTokens(String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, List<String> identifiers, Integer pageIndex, Integer pageSize, List<SortOrder> sortOrders, String searchTerm) throws ApiException {
        ApiResponse<ResponseDTOPageResponseTokenAggregate> resp = listAggregatedTokensWithHttpInfo(accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, identifiers, pageIndex, pageSize, sortOrders, searchTerm);
        return resp.getData();
    }

    /**
     * Fetches the list of Aggregated Tokens corresponding to the request&#x27;s filter criteria.
     * 
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param identifiers This is the list of Token IDs. Details specific to these IDs would be fetched. (optional)
     * @param pageIndex Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param pageSize The number of the elements to fetch (optional, default to 50)
     * @param sortOrders Sort criteria for the elements. (optional)
     * @param searchTerm This would be used to filter Tokens. Any Token having the specified string in its Name, ID and Tag would be filtered. (optional)
     * @return ApiResponse&lt;ResponseDTOPageResponseTokenAggregate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOPageResponseTokenAggregate> listAggregatedTokensWithHttpInfo(String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, List<String> identifiers, Integer pageIndex, Integer pageSize, List<SortOrder> sortOrders, String searchTerm) throws ApiException {
        com.squareup.okhttp.Call call = listAggregatedTokensValidateBeforeCall(accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, identifiers, pageIndex, pageSize, sortOrders, searchTerm, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOPageResponseTokenAggregate>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Fetches the list of Aggregated Tokens corresponding to the request&#x27;s filter criteria. (asynchronously)
     * 
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param identifiers This is the list of Token IDs. Details specific to these IDs would be fetched. (optional)
     * @param pageIndex Indicates the number of pages. Results for these pages will be retrieved. (optional, default to 0)
     * @param pageSize The number of the elements to fetch (optional, default to 50)
     * @param sortOrders Sort criteria for the elements. (optional)
     * @param searchTerm This would be used to filter Tokens. Any Token having the specified string in its Name, ID and Tag would be filtered. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAggregatedTokensAsync(String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, String orgIdentifier, String projectIdentifier, List<String> identifiers, Integer pageIndex, Integer pageSize, List<SortOrder> sortOrders, String searchTerm, final ApiCallback<ResponseDTOPageResponseTokenAggregate> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAggregatedTokensValidateBeforeCall(accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, orgIdentifier, projectIdentifier, identifiers, pageIndex, pageSize, sortOrders, searchTerm, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOPageResponseTokenAggregate>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for rotateToken
     * @param identifier Token Identifier (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param rotateTimestamp Time stamp when the Token is to be rotated (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call rotateTokenCall(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, Long rotateTimestamp, String orgIdentifier, String projectIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/ng/api/token/rotate/{identifier}"
            .replaceAll("\\{" + "identifier" + "\\}", apiClient.escapeString(identifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (rotateTimestamp != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rotateTimestamp", rotateTimestamp));
        if (accountIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("accountIdentifier", accountIdentifier));
        if (orgIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orgIdentifier", orgIdentifier));
        if (projectIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("projectIdentifier", projectIdentifier));
        if (apiKeyType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyType", apiKeyType));
        if (parentIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("parentIdentifier", parentIdentifier));
        if (apiKeyIdentifier != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apiKeyIdentifier", apiKeyIdentifier));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call rotateTokenValidateBeforeCall(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, Long rotateTimestamp, String orgIdentifier, String projectIdentifier, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'identifier' is set
        if (identifier == null) {
            throw new ApiException("Missing the required parameter 'identifier' when calling rotateToken(Async)");
        }
        // verify the required parameter 'accountIdentifier' is set
        if (accountIdentifier == null) {
            throw new ApiException("Missing the required parameter 'accountIdentifier' when calling rotateToken(Async)");
        }
        // verify the required parameter 'apiKeyType' is set
        if (apiKeyType == null) {
            throw new ApiException("Missing the required parameter 'apiKeyType' when calling rotateToken(Async)");
        }
        // verify the required parameter 'parentIdentifier' is set
        if (parentIdentifier == null) {
            throw new ApiException("Missing the required parameter 'parentIdentifier' when calling rotateToken(Async)");
        }
        // verify the required parameter 'apiKeyIdentifier' is set
        if (apiKeyIdentifier == null) {
            throw new ApiException("Missing the required parameter 'apiKeyIdentifier' when calling rotateToken(Async)");
        }
        
        com.squareup.okhttp.Call call = rotateTokenCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, rotateTimestamp, orgIdentifier, projectIdentifier, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Rotates a Token by ID
     * 
     * @param identifier Token Identifier (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param rotateTimestamp Time stamp when the Token is to be rotated (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @return ResponseDTOString
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOString rotateToken(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, Long rotateTimestamp, String orgIdentifier, String projectIdentifier) throws ApiException {
        ApiResponse<ResponseDTOString> resp = rotateTokenWithHttpInfo(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, rotateTimestamp, orgIdentifier, projectIdentifier);
        return resp.getData();
    }

    /**
     * Rotates a Token by ID
     * 
     * @param identifier Token Identifier (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param rotateTimestamp Time stamp when the Token is to be rotated (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @return ApiResponse&lt;ResponseDTOString&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOString> rotateTokenWithHttpInfo(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, Long rotateTimestamp, String orgIdentifier, String projectIdentifier) throws ApiException {
        com.squareup.okhttp.Call call = rotateTokenValidateBeforeCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, rotateTimestamp, orgIdentifier, projectIdentifier, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOString>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Rotates a Token by ID (asynchronously)
     * 
     * @param identifier Token Identifier (required)
     * @param accountIdentifier Account Identifier for the Entity (required)
     * @param apiKeyType This is the API Key type like Personal Access Key or Service Account Key. (required)
     * @param parentIdentifier ID of API key&#x27;s Parent Service Account (required)
     * @param apiKeyIdentifier API key ID (required)
     * @param rotateTimestamp Time stamp when the Token is to be rotated (optional)
     * @param orgIdentifier Organization Identifier for the Entity (optional)
     * @param projectIdentifier Project Identifier for the Entity (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call rotateTokenAsync(String identifier, String accountIdentifier, String apiKeyType, String parentIdentifier, String apiKeyIdentifier, Long rotateTimestamp, String orgIdentifier, String projectIdentifier, final ApiCallback<ResponseDTOString> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = rotateTokenValidateBeforeCall(identifier, accountIdentifier, apiKeyType, parentIdentifier, apiKeyIdentifier, rotateTimestamp, orgIdentifier, projectIdentifier, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOString>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateToken
     * @param identifier Token ID (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateTokenCall(String identifier, Token body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/ng/api/token/{identifier}"
            .replaceAll("\\{" + "identifier" + "\\}", apiClient.escapeString(identifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/yaml", "text/plain"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateTokenValidateBeforeCall(String identifier, Token body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'identifier' is set
        if (identifier == null) {
            throw new ApiException("Missing the required parameter 'identifier' when calling updateToken(Async)");
        }
        
        com.squareup.okhttp.Call call = updateTokenCall(identifier, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Updates a Token by ID
     * 
     * @param identifier Token ID (required)
     * @param body  (optional)
     * @return ResponseDTOToken
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ResponseDTOToken updateToken(String identifier, Token body) throws ApiException {
        ApiResponse<ResponseDTOToken> resp = updateTokenWithHttpInfo(identifier, body);
        return resp.getData();
    }

    /**
     * Updates a Token by ID
     * 
     * @param identifier Token ID (required)
     * @param body  (optional)
     * @return ApiResponse&lt;ResponseDTOToken&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ResponseDTOToken> updateTokenWithHttpInfo(String identifier, Token body) throws ApiException {
        com.squareup.okhttp.Call call = updateTokenValidateBeforeCall(identifier, body, null, null);
        Type localVarReturnType = new TypeToken<ResponseDTOToken>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Updates a Token by ID (asynchronously)
     * 
     * @param identifier Token ID (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateTokenAsync(String identifier, Token body, final ApiCallback<ResponseDTOToken> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateTokenValidateBeforeCall(identifier, body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ResponseDTOToken>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
